body{
    margin: 0px;
    padding: 0px;
}

.converter-body{
    width: 400px;
    height: 150px;
    background-color: coral;
    position: absolute;
    top: 50%;
    color:darkblue;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 1px #cacaca;
}

.converter-title{
    text-align: center;
    margin: 13px 0px;
}

input{
 height: 25px;
}

#input{
    margin-left: 25px;
}

#inputType, #resultType{
    width: 166.66px;
    margin-left:25px;
    color: cornflowerblue;
}

#resultType{
    margin-left: 12.5px;
}

.converter-body2{
    width: 400px;
    height: 150px;
    background-color: rgb(164, 196, 104);
    position: absolute;
    color:rgb(236, 54, 9);
    margin-top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 1px #cacaca;
}

.converter-title2{
    text-align: center;
    margin: 13px 0px;
}

   #input2{
       margin-left: 25px;
   }
   
   #inputType2, #resultType2{
       width: 166.66px;
       margin-left:25px;
       color: cornflowerblue;
   }
   
   #resultType2{
       margin-left: 12.5px;
   }

html{
    background-color: rgb(235, 133, 133);
}