.Fondo {
    height: 1500px;
    width: 1500px;  
    z-index: 0;
    position: absolute;
    }

.superior{
display:grid;
grid-template: 1fr 2fr/1fr 5fr 1fr;
z-index: 2;

}

.inferior{
display:grid;
grid-template: 1fr 1fr 1fr/2.8fr 2.5fr 2.5fr 2.5fr 2.5fr 5fr;
z-index: 2;
}

.words1{
    grid-column-start: 2;
    background-color: #e8eef3;
    display:flex;
    justify-content: space-between;
    z-index: 2;
    opacity: .75;
    
}

.words2{
    z-index: 2;
    grid-row-start: 2;
    grid-column-start: 2;
    padding-left: 34%;
    padding-top: 4%;
}

h1{
        color:#299844;
        padding-left: 5%;
        font-family: 'Merriweather Sans', sans-serif;
}

.words11{
    padding-right: 20px;
    padding-top: 7%;
    font-family: 'Merriweather Sans', sans-serif;
    z-index: 2;
}

.pn + .pn{
    margin-left: 15px;
   
}


.sn{
    color: #FFE5FF;
     font-size: 25px ;
    }

.sn,.sp{
    font-family: 'Merriweather Sans', sans-serif;
}
    .sp{
     color: #ff7b00;
     font-size: 35px;
    }
    
#Blog{
    border-bottom: 3px red solid ;
    z-index: 2;
}

.primernivel{
    grid-row-start: 1;
    grid-column-start: 4;
    z-index: 2;
}

.segundonivel{
    grid-row-start: 2;
    grid-column-start: 4;
    z-index: 2;
}

.tercernivel{
    grid-row-start: 3;
    grid-column-start: 4;
    z-index: 2;
}

.n1{
    display:flex;
    flex-direction: row;
}

.n2{
    display:flex;
    flex-direction: row;
}

.n3{
    display:flex;
    flex-direction: row;
}

.mini{
    background-color: #fffffffd;
    height: 200px;
    width: 238px;  
    text-align: center;
}

.Caja{
    height: 200px;
    width: 238px;  
}

