html{
     background-color: #EDE27B;}

h1,h2,h3
{   text-align: center;
     font-family: 'Anton', sans-serif;
        color:#FFFFFF ;}

h4,li{ font-family: 'Indie Flower', cursive;}

#primero{
    background-color: #02734A;
height: 220px;}

#segundo{
    background-color: #FFFFFF;
    color: #6b652d;
}

#tercero{
    background-color: #BF0615;
    color: #EDE27B;
}

p{
    color: #d1cfbe;
    font-family: 'Indie Flower', cursive;
}

img{
    padding-left:220px;
    height: 200px;
}